<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)='login()'>

    <div class="form-group">
        <input 
            formControlName = "userName"
            class="form-control" 
            placeholder="user name" 
            autofocus>  
        <mf-vmessage 
            *ngIf="loginForm.get('userName')?.errors?.required && !loginForm.get('userName')?.pristine"
            message ='User name is required!'
        >
        </mf-vmessage>
    </div>

    <div class="form-group">
        <input
            formControlName = "password"
            type="password" 
            class="form-control" 
            placeholder="password"> 
        <mf-vmessage 
            *ngIf="loginForm.get('password')?.errors?.required && !loginForm.get('password')?.pristine"
            message ='Password is required!'
        >
        </mf-vmessage>              
    </div>

    <button 
        [disabled]="loginForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Not a user?<a>Register now</a></p>