<div class="container">
    <form [formGroup]="photoForm" class="row mt-5" (submit)="upload()">
        <div class="col-md-6">
            
            <label for="input-image" class="col mb-3">                
                    <div class="row">
                        <div appAutoClick class="btn btn-primary" (click)="imageTouched=true">Choose an image</div>  
                        <div class="col px-0">
                            <input class="form-control" type="text" disabled [placeholder]="imagePathToDisplay">
                        </div>    
                    </div>  
            </label>
            <input id="input-image" type="file" accept="image/*" (change)="setImageFile($event)" hidden>            

            <mf-vmessage 
                *ngIf="isImageInvalid()" message="please select a photo">
            </mf-vmessage>
            <div class="text-center">
                <img *ngIf="imageURL" class='img-thumbnail mb-3' [src]="imageURL">
            </div>

        </div>


        <div class="col-md-6">
            <div class="form-group">
                <textarea class="form-control form-control-sm" placeholder="photo description"
                    formControlName="description"></textarea>
                <mf-vmessage
                    *ngIf="photoForm.get('description').errors?.required && photoForm.get('description').touched"
                    message="please insert a description">
                </mf-vmessage>
                <mf-vmessage *ngIf="photoForm.get('description').errors?.maxlength"
                    message="the description max length is 300 characters">
                </mf-vmessage>
            </div>

            <div class="form-group">
                <label class="text-muted">
                    Allow comments
                    <input type="checkbox" formControlName="allowComments">
                </label>
            </div>

            <button type="submit" [disabled]="isFormInvalid()" class="btn btn-primary btn-block">
                Upload
            </button>

            <a class="btn btn-secondary btn-block" (click)="clearForm()">Cancel</a>
        </div>
    </form>
</div>