
<header class="fixed-top min-size">
    <mf-menu #menu>
        <ul>
            <li>Menu</li>
            <li>Menu2</li>
        </ul>
    </mf-menu>
    <nav class="navbar navbar-light bg-white" >
        <i (click)="menu.toggle()" class="fa fa-bars mr-2 no-otuline"></i>
        <a class="navbar-brand">ALURAPIC</a>
        <div *ngIf = "(user$ | async) as user; else userDeslogado">
            <i class="fa fa-user-circle mr-2"></i>
            <span class="mr-2">{{user.name}}</span>
            <span class="mr-2 text-muted" style="cursor: pointer; font-size: small;" (click)="logout()">Logout</span>
        </div>
        <ng-template #userDeslogado>
            <a [routerLink]="['']">Please login!</a>
        </ng-template>
    </nav>
</header>
<div class="fixed-top">
    <mf-loading></mf-loading>
</div>

